# Exclude environment files
.env
.env.*
!env.example

# Log files
*.log

# Backend generated folders
backend/input/
backend/output/

# VSCode project files
.vscode/

# PyCharm/IntelliJ project files
.idea/
*.iml

# Python artifacts
*.pyc
__pycache__/
*.egg-info/
*.dist-info/

# Local/test/secret files
.streamlit/secrets.toml

# Generated documentation
docs/