*.pyc
*.out
*.env
terminal.txt
test.py
test.ipynb
logs/

# Ignore all files in the data folder
data/

# Ignore data backup
data_backup/

# Ignore in the uploads
uploads/

# Ignore all files in the output folder
output/

.streamlit/secrets.toml

# IntelliJ IDEA / PyCharm project files
.idea/
*.iml
